html {
	background-color:white;
}

header {
	margin-left:44%;
}

.arrange {
	margin-left: 30%;
	width: 800px;
}
 
h1 {
	font: 40px/1.5 Helvetica, Verdana, sans-serif;
}

h2 {
	font: 30px/1.5 Helvetica, Verdana, sans-serif;
	margin-left:34%;
}
 
ol {
	list-style-type: none;
}
 
h3 {
	font: 20px/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 3px solid #ccc;
	text-decoration: none;
	color: #000;
	display: block;
	width: 200px;
}

h4 {
	font: 15px/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #000;
	display: block;
	width: 200px;
	margin-left:5%;
}

p {
	margin-left:10%;
}


 